---
layout: default
---
<div id="background"></div>
<div id="wrapper">
	<div id="header">
		<div class="spacing"></div>
		<div id="headerblock" class="bblock">
			<div id="greenh"></div>
			<div id="pinkh"></div>
			<div id="yellowh"></div>
		</div>
		<div class="spacing"></div>
		<div class="clear"></div>
		<a href="/hollywood/corners.html"><span id="hollywood"><h1 id="hlogo"></h1></span></a>
		<a href="/" id="butt-toys">Buy Talking Friends Toys!</a>
		<a href="/hollywood/?ver=3.4.2h"><span id="countdown"></span></a>
	</div>
	<div id="content">
		<div class="title-left"></div>
		<div class="bblock">
			<div class="title">Vote for Tom, Angela and Ginger's look.</div>
			<div id="tomvoting" class="vote">
				<div id="tomo1" class="overlay">
					<a id="tom1close" href="" class="close">Close</a>
					<div id="vtom" class="vtitle" style="opacity: 0;">
						
					</div>
					<div id="tom1" class="character"></div>
					<div class="character">
						<h1>THANKS FOR VOTING!</h1>
						<p>Share your vote with your friends.</p>
						<a href="" class="vsharingfb">Facebook</a>&nbsp;<a href="" class="vsharingtw">Twitter</a>&nbsp;<a href="" class="vsharingpt">Pinterest</a>&nbsp;<a href="" class="vsharingtb">Tumbler</a>
						<span class="clear"></span>
					</div>
					<div class="barspace"></div>
					<a id="downloadtom1" href="../download.html" class="buttdownload">Download</a>
				</div>
				<div id="tomo2" class="overlay">
					<a id="tom2close" href="" class="close">Close</a>
					<div id="vtom" class="vtitle" style="opacity: 0;">
						
					</div>
					<div class="character">
						<h1>THANKS FOR VOTING!</h1>
						<p>Share your vote with your friends.</p>
						<a href="" class="vsharingfb">Facebook</a>&nbsp;<a href="" class="vsharingtw">Twitter</a>&nbsp;<a href="" class="vsharingpt">Pinterest</a>&nbsp;<a href="" class="vsharingtb">Tumbler</a>
						<span class="clear"></span>
					</div>
					<div id="tom2" class="character"></div>
					<div class="barspace"></div>
					<a id="downloadtom2" href="../download.html" class="buttdownload">Download</a>
				</div>
				<div id="vtom" class="vtitle">
					<h1 id="tom"></h1>
				</div>
				<a href="" class="vt1"><span id="tom1" class="character action-vote vt1"></span></a>
				<a href="" class="vt2"><span id="tom2" class="character action-vote vt2"></span></a>
				<div class="clear"></div>
				<div id="tvbar" class="vbar">
					<span class="scorel">0%</span>
					<span class="scorer tsel">100%</span>
					<span class="vote-counter left" id="vote-counter-g"><span class="total-votes">0</span> votes</span>
					<span class="vote-counter right tsel" id="vote-counter-g"><span class="total-votes">0</span> votes</span>
          			<span class="pointer t" style="right:51%; width:0%;"></span>
					<span class="pointer twin" style="left:51%; width:33.5%;"></span>
				</div>
				<div class="votebg">
					<a href="" class="buttvotet action-vote vt1">Vote</a><span class="vspace" style="display: none;"></span><a href="" class="buttvotet action-vote vt2">Vote</a>
				</div>
			</div>
			<div id="angelavoting" class="vote">
				<div id="ango1" class="overlay">
					<a id="ang1close" href="" class="close">Close</a>
					<div id="vangela" class="vtitle" style="opacity: 0;">
						
					</div>
					<div id="angela1" class="character"></div>
					<div class="character">
						<h1>THANKS FOR VOTING!</h1>
						<p>Share your vote with your friends.</p>
						<a href="" class="vsharingfb">Facebook</a>&nbsp;<a href="" class="vsharingtw">Twitter</a>&nbsp;<a href="" class="vsharingpt">Pinterest</a>&nbsp;<a href="" class="vsharingtb">Tumbler</a>
						<span class="clear"></span>
					</div>
					<div class="barspace"></div>
					<a id="downloadangela1" href="../download.html" class="buttdownload">Download</a>
				</div>
				<div id="ango2" class="overlay">
					<a id="ang2close" href="" class="close">Close</a>
					<div id="vangela" class="vtitle" style="opacity: 0;">
						
					</div>
					<div class="character">
						<h1>THANKS FOR VOTING!</h1>
						<p>Share your vote with your friends.</p>
						<a href="" class="vsharingfb">Facebook</a>&nbsp;<a href="" class="vsharingtw">Twitter</a>&nbsp;<a href="" class="vsharingpt">Pinterest</a>&nbsp;<a href="" class="vsharingtb">Tumbler</a>
						<span class="clear"></span>
					</div>
					<div id="angela2" class="character"></div>
					<div class="barspace"></div>
					<a id="downloadangela2" href="../download.html" class="buttdownload">Download</a>
				</div>
				<div id="vangela" class="vtitle">
					<h1 id="angela"></h1>
				</div>
				<a href="" class="va1"><span id="angela1" class="character action-vote va1"></span></a>
				<a href="" class="va2"><span id="angela2" class="character action-vote va2"></span></a>
				<div class="clear"></div>
				<div id="avbar" class="vbar">
					<span class="scorel">40%</span>
					<span class="scorer asel">60%</span>
					<span class="vote-counter left" id="vote-counter-g"><span class="total-votes">0</span> votes</span>
					<span class="vote-counter right asel" id="vote-counter-g"><span class="total-votes">0</span> votes</span>
					<span class="pointer a" style="right:51%; width:13%;"></span>
					<span class="pointer awin" style="left:51%; width:20%;"></span>
				</div>
				<div class="votebg">
					<a href="" class="buttvotea action-vote va1">Vote</a><span class="vspace" style="display: none;"></span><a href="" class="buttvotea action-vote va2">Vote</a>
				</div>
			</div>
			<div id="gingervoting" class="vote">
				<div id="gino1" class="overlay">
					<a id="gin1close" href="" class="close">Close</a>
					<div id="vginger" class="vtitle" style="opacity: 0;">
						
					</div>
					<div id="ginger1" class="character"></div>
					<div class="character">
						<h1>THANKS FOR VOTING!</h1>
						<p>Share your vote with your friends.</p>
						<a href="" class="vsharingfb">Facebook</a>&nbsp;<a href="" class="vsharingtw">Twitter</a>&nbsp;<a href="" class="vsharingpt">Pinterest</a>&nbsp;<a href="" class="vsharingtb">Tumbler</a>
						<span class="clear"></span>
					</div>
					<div class="barspace"></div>
					<a id="downloadginger1" href="../download.html" class="buttdownload">Download</a>
				</div>
				<div id="gino2" class="overlay">
					<a id="gin2close" href="" class="close">Close</a>
					<div id="vginger" class="vtitle" style="opacity: 0;">
						
					</div>
					<div class="character">
						<h1>THANKS FOR VOTING!</h1>
						<p>Share your vote with your friends.</p>
						<a href="" class="vsharingfb">Facebook</a>&nbsp;<a href="" class="vsharingtw">Twitter</a>&nbsp;<a href="" class="vsharingpt">Pinterest</a>&nbsp;<a href="" class="vsharingtb">Tumbler</a>
						<span class="clear"></span>
					</div>
					<div id="ginger2" class="character"></div>
					<div class="barspace"></div>
					<a id="downloadginger2" href="../download.html" class="buttdownload">Download</a>
				</div>
				<div id="vginger" class="vtitle">
					<h1 id="ginger"></h1>
				</div>
				<a href="" class="vg1"><span id="ginger1" class="character action-vote vg1"></span></a>
				<a href="" class="vg2"><span id="ginger2" class="character action-vote vg2"></span></a>
				<div class="clear"></div>
				<div id="gvbar" class="vbar">
					<span class="scorel gsel">100%</span>
					<span class="scorer">0%</span>
					<span class="vote-counter left gsel" id="vote-counter-g"><span class="total-votes">0</span> votes</span>
					<span class="vote-counter right" id="vote-counter-g"><span class="total-votes">0</span> votes</span>
					<span class="pointer gwin" style="right:51%; width:33.5%;"></span>
					<span class="pointer g" style="left:51%; width:0%;"></span>
				</div>
				<div class="votebg">
					<a href="" class="buttvoteg action-vote vg1">Vote</a><span class="vspace" style="display: none;"></span><a href="" class="buttvoteg action-vote vg2">Vote</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="title-right"></div>
		<div class="clear"></div>
		<div class="title-left"></div>
		<div class="bblock">
			<div class="title">Find out how Tom, Angela and Ginger were preparing for the event.</div>
			<div id="tomdiary" class="diary">
				<div id="dtom" class="vtitle">
					<a href="" id="toml" class="dbleft"></a>
					<a href="" id="tomr" class="dbright"></a>
				</div>
				<div class="sccont">
					<div id="tomsdiary" class="scrollwr">
						<div id="dtom0" class="ditem" style="left: 0;"></div>
						<div id="dtom1" class="ditem" style="left: 100%;"></div>
						<div id="dtom2" class="ditem" style="left: 200%;"></div>
					</div>
				</div>
			</div>
			<div id="angeladiary" class="diary">
				<div id="dangela" class="vtitle">
					<a href="" id="angl" class="dbleft"></a>
					<a href="" id="angr" class="dbright"></a>
				</div>
				<div class="sccont">
					<div id="angelasdiary" class="scrollwr">
						<div id="dang0" class="ditem" style="left: 0;"></div>
						<div id="dang1" class="ditem" style="left: 100%;"></div>
						<div id="dang2" class="ditem" style="left: 200%;"></div>
					</div>
				</div>
			</div>
			<div id="gingerdiary" class="diary">
				<div id="dginger" class="vtitle">
					<a href="" id="ginl" class="dbleft"></a>
					<a href="" id="ginr" class="dbright"></a>
				</div>
				<div class="sccont">
					<div id="gingersdiary" class="scrollwr">
						<div id="dgin0" class="ditem" style="left: 0;"></div>
						<div id="dgin1" class="ditem" style="left: 100%;"></div>
						<div id="dgin2" class="ditem" style="left: 200%;"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="title-right"></div>
		<div class="clear"></div>
		<div class="title-left"></div>
		<div class="bblock" id="smallblock">
			<div class="title">Enter by December 23 to win a Talking Friends Superstar toy!</div>
			<div id="tomcorner" class="corner">
				<a href="../corners.html" id="ctom" class="vtitle">Win Talking Tom!</a>
				<a href="../corners.html" id="wintom" class="winclick">Win Talking Tom!</a>
				<a href="../corners.html" class="participate">Win Talking Tom!</a>
			</div>
			<div id="angelacorner" class="corner">
				<a href="../corners.html" id="cangela" class="vtitle">Win Talking Angela!</a>
				<a href="../corners.html" id="winangela" class="winclick">Win Talking Angela!</a>
				<a href="../corners.html" class="participate">Win Talking Angela!</a>
			</div>
			<div id="gingercorner" class="corner">
				<a href="../corners.html" id="cginger" class="vtitle">Win Talking Ginger!</a>
				<a href="../corners.html" id="winginger" class="winclick">Win Talking Ginger!</a>
				<a href="../corners.html" class="participate">Win Talking Ginger!</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="title-right"></div>
		<div class="clear"></div>
	</div>
	<span id="footer"><span id="fleft"><p>Copyright &copy; 2012 <a id="o7" href="http://outfit7.com">Outfit7.</a> All rights reserved.</p> <p><a href="http://outfit7.com/privacy-policy/">Privacy</a> <a href="../terms.html">Competition Rules</a></p></span></span>
</div>
