---
layout: default
---
<div class="main_wrapper currency-eur">
  <div id="page" class="hfeed site">
    <div id="content" class="site-content" role="main">
      <br/>

      <h2>GA crossdomain link</h2>
      <a 
        href="http://talkingfriends.eu/cart?superstar=talking-ginger-superstar"
        onclick="_gaq.push(['_link', 'http://talkingfriends.eu/cart']); return false;">Click to go to shopify
      </a>

      <h2>GA crossdomain link (_link via superstar.com)</h2>
      <a 
        href="http://talkingfriends.eu/cart?superstar=talking-ginger-superstar"
      >Click to go to shopify
      </a>

      <h2>A</h2>
      <div class="big-buy abtest abtest-a" data-event='buy button home; TEST; top'></div>

      <h2>B</h2>
      <div class="big-buy abtest-b"></div>

      <h2>C</h2>
      <div class="big-buy abtest-c"></div>

      <h2>D</h2>
      <div class="big-buy abtest-d"></div>


      <h2>E</h2>
      <div class="big-buy abtest-e"></div>
      <br/>
      <hr/>

      <h2>From Url</h2>
      <p>Put urlparam abtest=a to switch to A mode etc.</p>
      <div class="big-buy abtest"></div>
      <br/>
      
      <h2 class="autoscroll-to">Tom</h2>
      <div class="big-buy tom abtest-a"></div>

      <h2>Angela</h2>
      <div class="big-buy angela abtest-a"></div>

      <h2>Ginger</h2>
      <div class="big-buy ginger abtest-a"></div>
      <br/>
    </div>
  </div>
</div>
<script>
(function($){
  var abtest = $.fn.bigbuy.get_abtest() || 'a';
  $('.abtest').addClass('abtest-'+abtest);
  $('.big-buy').bigbuy();
  $('a').click(function(e){e.preventDefault()});
  $('body').superstar();
})(jQuery);
</script>
