/**
 * .big-buy-outer
 *  .big-buy-inner
 *    .fancy-button
 *    .big-buy-choices
 *      .big-buy-choice
 *      .big-buy-choice
 *      .big-buy-choice
 *    .big-buy-stock
 *    .big-buy-shipping
 *    .big-buy-price
 */

@base_font_size: 1.5em;
@base_line_height: 3em;

.big-buy-outer {
  position: relative;
  background-color: @back;
  .box_shadow("0 3px 2px rgba(0, 0, 0, 0.5)");
  color: #FFFFFF;         
  padding:0.6em 0.6em;
  text-align:left;
  margin: 0 auto;
  
  font-size: 18px;
  line-height: 1.5em;

  @media (max-width: 960px) {
    font-size:14px;
  }

  @media (max-width: 767px) {
    font-size:16px;
  }

  @media (max-width: 500px) {
    font-size:11px;
  }

	font-family:"OpenSans-Bold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;	
}

.big-buy-inner {
  position: relative;
  background-color:transparent;
}

.big-buy-inner * {
  margin: 0;
  padding: 0;
}

/* :order */
.big-buy-order {
  position: absolute;
  margin:0;
  right:0;
  top: 0;

  width:33%;

  @media (max-width: 767px) {
    position: relative;
    margin: 0 auto 15px auto;
    width:100%;}

}





.big-buy-choices {
  display:none;
  position: absolute;
  right:35%;
  margin:0;
  cursor: pointer;
  z-index:1;

  @media (max-width: 767px) {
    position: relative; /* cancels absolute, follow natural flow again */
    right:0;
    height:2em;
  }
  @media (max-width: 500px) {
    height:3em;
  }

}

.big-buy-choice  { 
    position: relative;
    text-indent: @base_font_size;
    font-size: (@base_font_size * 0.65);
    text-transform: uppercase;

    @media(max-width: 500px) {
      font-size: (@base_font_size * 0.9);
    }

  @media (max-width: 767px) {
    position: absolute;
  }

}

@media (max-width: 767px) {
  .big-buy-choices .tom {left:10%;}
  .big-buy-choices .angela {left:40%;}
  .big-buy-choices .ginger {left:70%;}
}

@media (max-width: 500px) {
  .big-buy-choices .tom {left:5%;}
  .big-buy-choices .angela {left:32%;}
  .big-buy-choices .ginger {left:67%;}
}


.big-buy-choice .box {
  position: absolute;
  background: #75AED8;
  .border_radius(0.2em);
  width:@base_font_size*0.61;
  height:@base_font_size*0.61;
  top:0.2em;
  left:-0.1em;
}

/* :mark :check */
.big-buy-choice .mark {
  position: absolute;
  display:block;
  width:22px;
  height:22px;
  bottom:0.2em;
  left: -0.1em;
  

  @media (max-width: 480px) {
    bottom: -0.2em;
  }

}

.checked .mark {
  background: url(images/check.png) no-repeat 0 0;
}

.big-buy-choices .checked { color:  @base_color}

/* :stock */

.big-buy-stock {
  margin: 0;
  font-size: (2em * 0.9);
  line-height: (2em / 0.9);
  vertical-align: middle;

  @media (max-width: 767px) {    
    font-size: (2em * 1);
    line-height: 1.5em;
  }

  @media (max-width: 640px) {
    font-size: (2em * 0.9);
    line-height: 1.5em;
  }

  @media (max-width: 480px) {
    font-size: (2em * 0.7);
    line-height: 1.7em;
  }

}

/* :price */
.big-buy-price {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 35%;
  font-size: (2em * 1.2);
  line-height: (2em / 1.2);
  text-align: center;

  @media (max-width: 767px) {
    font-size: 2.5em;
    line-height: 1em;
    right: 0!important;
  }

  @media (max-width: 480px) {
    bottom:-0.0.8em !important;
  }

  .big-buy-per-toy {
    display:none;
    position: absolute;
    font-size: 0.5em;
    line-height: 1.2em;
    left: 1.4em;
    bottom: -1em;
  }



  @media (max-width: 767px) { right: -0.2em}

  @media (max-width: 500px) {
    bottom:0.2em;
  }
}

.big-buy-order-other {
  display: none;
  width:100%;
  margin-top:1em;
  text-align:right;

  font: 20px/22px "OpenSans-Regular","Lucida Grande","Lucida Sans Unicode",sans-serif;
  .text_shadow(0 1px 0 rgba(255, 255, 255, 0.9));
  color: #00467F;
}

/** ab testing **/
.abtest-a {
  .big-buy-per-toy {display:none}
}

.abtest-b {
  .big-buy-price {display:none}
}

.abtest-c {
  .big-buy-order-other {display:block} 
  .big-buy-per-toy {display:none}
}

.abtest-d {
  .big-buy-per-toy {display:none}
}

.abtest-e {
  .big-buy-choices {display:block;} 
  .big-buy-per-toy {display:block}
  .big-buy-stock {
      display: block; 
      font-size: (@base_font_size * 0.66);
      line-height: 1.5em;
      @media (max-width: 960px) {
        font-size: (@base_font_size * 0.9);
        line-height: 1.2em;
      }
      @media (max-width: 767px) {
        font-size: (@base_font_size * 0.9);
        line-height: 1.2em;
      }

      @media (max-width: 480px) {
        font-size: (2em * 1.0);
        line-height: 1.2em;        
      }
      @media (max-width: 320px) {
        font-size: (2em * 0.7);
        line-height: 1.2em;        
      }      
    }

  .big-buy-price {
      bottom: 0.7em;
      right: 48%;
      font-size: 2.5em;
      line-height: 1em;

      @media (max-width: 767px) {
        right: 48%;
        bottom: 0.9em;
      }

      @media (max-width: 320px) {
        right: 0;
        bottom: 1em;
      }
    }

}


/* theme */

.tom .fancy-button { 
  .gradient2(@tom_grad_1, 50%, @tom_grad_2, 50%); 
  a:hover {color: #306200;}
}

.angela .fancy-button { 
  .gradient2(@angela_grad_1, 50%, @angela_grad_2, 50%); 
  a:hover {color: #92006f;}
  }

.ginger .fancy-button { 
  .gradient2(@ginger_grad_1, 50%, @ginger_grad_2, 50%); 
  a:hover {color: #8c4d02;}
  }

/** two on site **/
.big-buy-top {
  margin: 0 auto;
  width:98%;
  @media (max-width: 960px) { width: 95%; }
  @media (max-width: 767px) {
    width: 95%;
    margin-top: 3em;
  }
}

/* bigbuy on toys page */
#superStar .big-buy-top { 
 margin-top: 0.1em;
 width: 98%;
 @media (max-width: 960px) { width: 95%; }
 @media (max-width: 480px) { margin-top: -1em;}
}

.big-buy-bottom {
  margin: 0 auto;
  width: 98%;
  @media (max-width: 960px) { width: 95%; }
}

.big-buy-mobile-only {
  margin: 0 auto;
  width: 98%;
  display: none;
  @media (max-width: 960px) { width: 95%; }
  @media (max-width: 767px) { display: block; width: 95%}
}
