.fancy-button {
  position: relative;
  height:4em;
  .border_radius(0.75em);
  .gradient2(@base_grad_1, 50%, @base_grad_2, 50%);
  color:#01467e;
  text-align: center;
  vertical-align: middle;
  .box_shadow("inset 3px 4px 10px rgba(255, 255, 255, 0.85), 2px 2px 5px rgba(0, 0, 0, 0.85)");
  border-top: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow:hidden;

  cursor: pointer;
  .text_shadow("0 1px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 #554904");
  @media (max-width: 500px) {
    .border_radius(1.1em);
    height:6em
  }

  
  a {
    position: absolute;
    top:-0.5em;
    left:0;
    width: 100%;
    text-decoration:none;
    font-size:1.9em;
    font-width: bold;
    line-height:3.0em;
    text-align:center;
    color: @button_color;
    text-transform: uppercase;
    background: url(images/nav_shine_white2.png) no-repeat bottom center;
	  font-family:"OpenSans-Bold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;	
    font-weight: bold;
    .text_shadow("0 1px 0 rgba(255, 255, 255, 0.8),  0 -1px #554904");

    &:hover {
      color:#744206;
      .text_shadow("0 1px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 #422502");
    }

    @media (max-width: 500px) {
      font-size:3em;
      line-height:3em;
      //top:-0.5em;
    }
  }
}



/** stars animation **/
.fancy-button > img {
 position:relative; bottom:-36px; left:0px; opacity:0;
}

.fancy-button:hover > .fancy-button-stars1 {
	-moz-animation:buttonani 0.8s infinite ease-in-out;
	-webkit-animation:buttonani 0.8s infinite ease-in-out;
	-ms-animation:buttonani 0.8s infinite ease-in-out;
	-o-animation:buttonani 0.8s infinite ease-in-out;
	animation:buttonani 0.8s infinite ease-in-out;
}

.fancy-button:hover > .fancy-button-stars2 {
	-moz-animation:buttonani 1.4s infinite ease-in-out;
	-webkit-animation:buttonani 1.4s infinite ease-in-out;
	-ms-animation:buttonani 1.4s infinite ease-in-out;
	-o-animation:buttonani 1.4s infinite ease-in-out;
	animation:buttonani 1.4s infinite ease-in-out;
}

@-webkit-keyframes buttonani
{
0% { -webkit-transform:scale(0);  opacity:1; }
100% { -webkit-transform:scale(5); opacity:0; }
}


@-moz-keyframes buttonani
{
0% { -moz-transform:scale(0);  opacity:1; }
100% { -moz-transform:scale(5); opacity:0; }
}

@-ms-keyframes buttonani
{
0% { -ms-transform:scale(0);  opacity:1; }
100% { -ms-transform:scale(5); opacity:0; }
}

@-o-keyframes buttonani
{
0% { -o-transform:scale(0);  opacity:1; }
100% { -o-transform:scale(5); opacity:0; }
}

@keyframes buttonani
{
0% { transform:scale(0);  opacity:1; }
100% { transform:scale(5); opacity:0; }
}
