@font-face {
    font-family: 'OpenSans-Bold';
    src: url('font/opensans-bold.eot');
    src: url('font/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold.woff') format('woff'),
         url('font/opensans-bold.ttf') format('truetype'),
         url('font/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('font/opensans-extrabold.eot');
    src: url('font/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-extrabold.woff') format('woff'),
         url('font/opensans-extrabold.ttf') format('truetype'),
         url('font/opensans-extrabold.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans-Regular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont.woff') format('woff'),
         url('font/opensans-regular-webfont.ttf') format('truetype'),
         url('font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
