.big-buy-order {
  top: -0.8em !important;
}
.big-buy-stock {
  margin: 0.5em 0 0.5em 0;
}

.big-buy-price {
  bottom: 0.4em !important;
}

.abtest-e {
  .big-buy-price { bottom: 0.75em !important; }
  .big-buy-order { top: 0.1em !important; }
}
