html {font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;}

body {
  background:url(images/main_bg.jpg);

}

h1, h2, h3, h4, h5, h6, address {font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

.main_wrapper {
    background:url(images/bg_pattern.png) repeat-x top center transparent; 
    margin:0 auto;
    min-height:100%; 
    width:100%;
}

#page {
  max-width:960px; 
  margin:0 auto; 
  padding-top:15px; 

  @media (max-width: 960px) { 
    max-width:768px;
    width:90%;}

  @media (max-width: 767px) { 
    max-width:768px;
    width:100%;}

  @media (max-width: 320px) { 
    max-width:320px;
    width:100%;}
}
