.gradient2 (@color1, @stop1, @color2, @stop2) {
  background-color: @color1;
  background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2));
}

.gradient3 (@color1, @stop1, @color2, @stop2, @color3, @stop3) {
  background-color: @color1;
  background-image:linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-moz-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-o-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-ms-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-webkit-gradient(linear, right top, right bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3));
}

.text_shadow (...) {
  text-shadow: ~"@{arguments}";
  -webkit-text-shadow: ~"@{arguments}";
  -moz-text-shadow: ~"@{arguments}";
  -o-text-shadow: ~"@{arguments}";
  -ms-text-shadow: ~"@{arguments}";
}

.box_shadow(...) {
  box-shadow: ~"@{arguments}";
  -webkit-box-shadow: ~"@{arguments}";
  -moz-box-shadow: ~"@{arguments}";
  -o-box-shadow: ~"@{arguments}";
  -ms-box-shadow: ~"@{arguments}";
}

.border_radius(@radius) {
  border-radius: @radius; 
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius:@radius;
}
