/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	height:100%;
}
body {
	/*background-color: #25d5ed; */
	background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/main_bg.jpg") no-repeat top center #26d4ed; height:100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none; list-style-type:none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { 
	outline: 0;
}
a img {
	border: 0;
}


.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

* html .goog-inline-block {
  display: inline;
}

*:first-child+html .goog-inline-block {
  display: inline;
}

/* =Global
----------------------------------------------- */

html {font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;}


h1, h2, h3, h4, h5, h6, address {font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('font/opensans-bold.eot');
    src: url('font/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold.woff') format('woff'),
         url('font/opensans-bold.ttf') format('truetype'),
         url('font/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('font/opensans-extrabold.eot');
    src: url('font/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-extrabold.woff') format('woff'),
         url('font/opensans-extrabold.ttf') format('truetype'),
         url('font/opensans-extrabold.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans-Regular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont.woff') format('woff'),
         url('font/opensans-regular-webfont.ttf') format('truetype'),
         url('font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.main_wrapper {width:100% !important; min-height:100%; 
    background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/bg_pattern.png") repeat-x top center transparent; margin:0 auto;}
#page {max-width:960px; margin:0 auto; padding-top:15px; }
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Clearer */
.big_buy p:after, .stars_selection ul:after,.contact-form-tf li:after,.apps_wrap:after,#superStar .info:after {height:0;content:".";display:block;clear:both;visibility:hidden;}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */


ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 1.12em 1.5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	color: #111;
}
input[type=text],
input[type=email] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* content */

.video {width:100%; height:auto;  margin:0 auto;
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px 0px #666;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	border-radius:8px 8px 0 0;
}
.video .divider {
	width:100%; 
	height:33px;
	border-top:2px solid #3da2c3;
	border-bottom:1px solid #000;
	border-radius:8px 8px 0 0;
	background-color:#2b4764;
	background-image:-moz-linear-gradient(top, #3272a0 0%, #293e57 100%);
	background-image:-webkit-linear-gradient(top, #3272a0 0%, #293e57 100%);
 	background-image:-ms-linear-gradient(top, #3272a0 0%, #293e57 100%);
 	background-image:linear-gradient(top, #3272a0 0%, #293e57 100%);
 	background-image:-o-linear-gradient(top, #3272a0 0%, #293e57 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#3272a0), color-stop(100%,#293e57));	
}
.video .container {
	width:960px; height:370px; 
	border-top:0;
	background-color:#0c2a4d;
	/*background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/video_bg.jpg") no-repeat top left;*/
	overflow:hidden; position:relative; margin:0 auto; text-align:center;
}
.video video {max-width:100%; height:100%;}
.shadow {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/video_shadow.png") no-repeat top center; width:100%; height:30px; margin:0 auto;}
.video_size {display:none;}


.stars_dscp {width:940px; margin:0 auto; margin-top:22px;}
/*.stars_dscp #my_div,.stars_dscp #my_div2, .stars_dscp #my_div3 {font-size:0px; display:none; z-index:-10; width:0px; height:0px;  }*/
.stars_dscp .first, .stars_dscp .second, .stars_dscp .third {
	float:left;
	cursor:pointer;
	/*border:1px solid #fff;*/
	/*border-bottom:1px solid #cafdff;*/
	border-radius: 18px;
	margin-right:24px;
	width:296px; height:294px;
	-webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 4px 3px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 4px 3px rgba(0, 0, 0, 0.75);
	border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px;
	position:relative;
	background-repeat:no-repeat;
	background-position:top center;
	overflow:hidden;
	background:#d5fdfe;
	background-image:-moz-linear-gradient(top, #d5fdfe 30%, #429cbc 100%);
 	background-image:-webkit-linear-gradient(top, #d5fdfe 30%, #429cbc 100%);
 	background-image:-ms-linear-gradient(top, #d5fdfe 30%, #429cbc 100%);
 	background-image:linear-gradient(top, #d5fdfe 30%, #429cbc 100%);
 	background-image:-o-linear-gradient(top, #d5fdfe 30%, #429cbc 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(30%,#d5fdfe), color-stop(100%,#429cbc));
}
.stars_dscp .first {margin-left:4px;}
.stars_dscp .third {margin-right:0;}
.stars_dscp .inner-text {width:101%;  position:absolute; height:100%; left:0; top:0; padding:0 0 0 100%; z-index:0; background-repeat:no-repeat; border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px; background-color:none; display:block; }
.stars_dscp .inner-text span {  font-family: 'open_sans-Regular'; position:relative; margin-top:100px; padding:0 25px; text-align:center; float:right; font-size:0.8em; line-height:1.2em; font-weight:bold; text-shadow:0 1px 0 #e3feff; text-shadow:0 1px 0 rgba(255,255,255,0.6);}
.stars_dscp .first .inner-text { background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/dscp1.png?v=1");}
.stars_dscp .second .inner-text { background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/dscp2.png?v=1");}
.stars_dscp .third .inner-text { background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/dscp3.png?v=1");}
.stars_dscp p {color:#00467f; padding:18px 10px 15px 10px; line-height:26px; font-size:24px; font-family:OpenSans-Bold, "Lucida Grande", "Lucida Sans Unicode", sans-serif; text-align:center; z-index:10; position:relative;}
.stars_dscp img {position:absolute; bottom:0; left:30px;}
.stars_dscp .third img {left:0;}
.stars_dscp .arrow-down {position:absolute; right:0.5em; bottom:0.35em; width:30px; height:30px; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrow-right.png") no-repeat center center; z-index:10;}
.stars_dscp .open .arrow-down {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrow-left.png");}

.stars_selection {margin:30px 0 15px 0; width:960px; text-align:center; float:left;}
.stars_selection h1 {font-size:50px; color:#004680; text-shadow: 0 1px 1px rgba(255, 255, 255, 255);font-family:OpenSans-ExtraBold, "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.stars_selection .all { background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/dscp_all.png?v=1") no-repeat top center; width:465px; height:409px; margin:0 auto; margin-top:20px;}
.stars_selection aside {width:502px; margin:0 auto; margin-bottom:20px; margin-top:-20px; text-align:center; }
.stars_selection ul li {
	float:left; 
	margin:0 7px 0 7px; 
	list-style-type:none; 
	font-size:20px; 
	color:#004680; 
	text-shadow: 0 1px 1px rgba(255, 255, 255, 255);
	font-family:OpenSans-ExtraBold, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.stars_selection ul li span {
	display:block;
	background-color:#fdd82f;
 	background-image:-moz-linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:-webkit-linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:-ms-linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:-o-linear-gradient(top, #fee834 50%, #fdc007 50%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(50%,#fee834), color-stop(50%,#fdc007));

	width:146px; height:38px;
	margin-bottom:10px;
	color:#01467e; 
	line-height:37px;
	border-radius:5px;
	font-family:"OpenSans-ExtraBold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size:20px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.75);
}
.stars_selection ul li a {text-decoration:none; color:#01467e; cursor:default;}
.stars_selection ul li a:hover {text-decoration:none; }
/*.stars_selection ul li span:hover {text-decoration:none; color:#fff;}*/
.stars_selection ul li span a {
  cursor:pointer;
  display:block; width:146px; height:38px; border-radius:5px; background:url(images/nav_check.png) no-repeat bottom center;}
.stars_selection ul li span a:hover {
    	-moz-box-shadow: 0px 0px 18px #fff;
    	-webkit-box-shadow: 0px 0px 18px #fff;
   	box-shadow: 0px 0px 18px #fff;
	border-radius:5px; color:#01467e;text-shadow: 0 1px 1px #fff;
}
#corpo {
	background: #061f3d;
	background: -moz-linear-gradient(-45deg, #061f3d 9%, #058e9b 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(9%,#061f3d), color-stop(100%,#058e9b));
	background: -webkit-linear-gradient(-45deg, #061f3d 9%,#058e9b 100%);
	background: -o-linear-gradient(-45deg, #061f3d 9%,#058e9b 100%);
	background: -ms-linear-gradient(-45deg, #061f3d 9%,#058e9b 100%);
	background: linear-gradient(135deg, #061f3d 9%,#058e9b 100%);

	-moz-box-shadow: inset 0px 1px 1px 0px #000;
	-webkit-box-shadow: inset 0px 1px 1px 0px #000000;
	box-shadow: inset 0px 1px 1px 0px #000000; 
	border-bottom:1px solid #b6f8ff;
    border-radius: 10px 10px 10px 10px;
    /*float: left;*/
    margin:0 auto;
    margin-top:-25px;
    overflow: hidden;
    position: relative;
    width: auto;
    padding:50px;
    color:#000; font-size:14px;
}
#corpo header h1 {font-size:50px; margin-bottom:50px; color:#2ba3c4; line-height:1em; text-shadow: 0 -1px 0px rgba(255, 255, 255, 0.6),0 2px 1px rgba(1, 1, 1, 0.6); font-family:"OpenSans-ExtraBold", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
#corpo header h1 {text-align:center;}

#corpo h2 {font-size:25px; color:#fff; font-weight:bold; line-height:1.2em; padding-bottom:.5em;} 
#corpo p {padding:5px 0 10px 0; margin-bottom:0; color:#96D8DB;}
#corpo ul {margin-bottom:1em;}
#corpo li {color:#96D8DB; text-indent:0.3em; list-style-type: circle; margin-left: 1em;}
#corpo .nobullet li {list-style-type: none}
#corpo .contact-formul {margin-bottom:0;}
#corpo .contact-form li  {text-indent:0; list-style:none; margin-left:0;}

#corpo p a {color:#cdfaff;}
#corpo p a:hover {color:#fde892;}

/* apps */
.apps_wrap {width:92%; padding-bottom:80px; margin:0 auto; margin-top:20px; background:url(images/line3.png) repeat-x bottom center; background-size:100% auto; }
.apps_wrap.last {background:none;}
.apps_wrap header {text-align:left;}
.apps_wrap header h2 {color:#fff; font-size:34px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0); clear:none; margin-bottom:5px;  font-family:"OpenSans-Bold", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
.apps_wrap .tom_icon, .apps_wrap .angela_icon, .apps_wrap .ginger_icon, .apps_wrap .big_icon, .apps_wrap .stars_icon,.apps_wrap .santa_icon {float:left; background:url(images/apps/apps_icon_sprite2.png) no-repeat 0 0; position:relative; top:-10px;}
.apps_wrap .stores {width:100%;}
.apps_wrap .tom_icon {width:140px; height:148px;}
.apps_wrap .angela_icon { background-position:0 -912px; width:140px; height:148px;}
.apps_wrap .ginger_icon {background-position:0 -304px; width:140px; height:148px;}
.apps_wrap .stars_icon {background-position:0 -463px; width:140px; height:148px;}
.apps_wrap .big_icon {background-position:0 -612px; width:140px; height:148px;}
.apps_wrap .santa_icon {background-position:0 -761px; width:140px; height:148px;}

.apps_wrap .apps_info {margin-left:200px;}
.apps_wrap .apps_info p {color:#96d8db;  font-family:"OpenSans-Regular", "Lucida Grande", "Lucida Sans Unicode", sans-serif; width:80%;}
.apps_wrap .apps_info ul li {float:left}


/* apps */ 


/* =Menu
----------------------------------------------- */

.main-navigation {
	/*clear: both;*/
	display: block;
	float: right;
	width: 470px;
	text-align:right;
	margin-top:-90px;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	float:right;
}
.main-navigation li {
	width:140px;
	float: left;
	position: relative;
	margin-left:15px;
	background-color:#39c7e5;
	background-image:-moz-linear-gradient(top, #ffffff 0%, #a1f5fd 4%,#55e2ee 50%,#39c6e4 51%);
	background-image:linear-gradient(top, #ffffff 0%, #a1f5fd 4%,#55e2ee 50%,#3fb9d4 51%);
	background-image:-webkit-linear-gradient(top, #ffffff 0%, #a1f5fd 4%,#55e2ee 50%,#3fb9d4 51%);
	background-image:-o-linear-gradient(top, #ffffff 0%, #a1f5fd 4%,#55e2ee 50%,#3fb9d4 51%);
	background-image:-ms-linear-gradient(top, #ffffff 0%, #a1f5fd 4%,#55e2ee 50%,#3fb9d4 51%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#ffffff), 
	color-stop(4%,#a1f5fd),color-stop(50%,#55e2ee),color-stop(51%,#3fb9d4));
	/*border:1px solid;*/
	border-radius: 10px;
	padding:0px 0 0px 0;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.75);
}

.main-navigation li:hover {
    -moz-box-shadow: 0px 0px 18px #fff;
    -webkit-box-shadow: 0px 0px 18px #fff;
    box-shadow: 0px 0px 18px #fff;
}
.main-navigation li a:hover {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-family: "openSans-ExtraBold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	color:#01467e; 
	text-transform:uppercase;
	font-size:18px; text-align:center;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	padding:10px 0 10px 0;
	background:url(images/nav_radial.png) no-repeat bottom center; 
}

/*.main-navigation .current-menu-item {
	color:#fff; text-shadow:none;
 	-moz-box-shadow: 0px 0px 18px #fff;
    	-webkit-box-shadow: 0px 0px 18px #fff;
    	box-shadow: 0px 0px 18px #fff;
}*/
/*.main-navigation .current-menu-item a {
	color:#fff; text-shadow:none;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}*/
/*.main-navigation li a:hover {color:#fff; text-shadow:none;}*/

.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
	
}
.main-navigation li:hover > a {
	
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
/*.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: block;
}
*/


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */


.site-header {margin:0 auto; margin-top:0px; width:960px; position:relative;}
.site-header .logo {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/tfs_logo.png") no-repeat top left; width:432px; height:150px; display:block; margin-left:4px;}
.site-navigation {margin-right:1px;}
.site-content { padding:0px; margin:0 auto; margin-top:-25px; width:100%; tex-align:center; position:relative;}
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* SUPERSTARS */

#superStar {width:100%; text-align:center;}
#superStar h1 {
	color:#00467f; 
	margin-top:10px;
	font-size:50px; line-height:54px; font-family:"OpenSans-ExtraBold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	text-shadow:
	-2px -2px 0 #c7f57f,
	2px -2px 0 #c7f57f,
	-2px 2px 0 #c7f57f,
	2px 2px 0 #c7f57f; 
	position:absolute;
	text-indent:-9999px;
	z-index:1;
  top:-9970px;
  width:120%; left:-10%;
}


#superStar.ginger h1 {
	text-shadow:
	-2px -2px 0 #ebae38,
	2px -2px 0 #ebae38,
	-2px 2px 0 #ebae38,
	2px 2px 0 #ebae38; 
	position:absolute; 
}
#superStar.angela h1 {
	text-shadow:
	-2px -2px 0 #ec6ca4,
	2px -2px 0 #ec6ca4,
	-2px 2px 0 #ec6ca4,
	2px 2px 0 #ec6ca4; 
}
#superStar .tt,#superStar .g,#superStar .an {width:750px; height:430px; margin:0 auto; margin-top:-20px; position:relative; background-repeat:no-repeat; background-position:bottom center; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain; }
#superStar .tt {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/superstars_t.png"); }
#superStar .g {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/superstars_g.png"); }
#superStar .an {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/superstars_a.png"); }
#superStar .arrows {
	position:absolute;
	width:866px; top:150px; left:-70px; height:162px; 
}
#superStar .arrows strong {display:block; position:relative; top:58px; left:7px;}
#superStar .arrows a {text-decoration:none; }
#superStar .arrows a strong {
	text-decoration:none; color:#01467E; font-weight:normal; text-shadow: 0 1px 0px rgba(255, 255, 255, 0.6); font-size:19px;font-family:"OpenSans-ExtraBold", "Lucida Grande", "Lucida Sans Unicode", sans-serif; text-transform:uppercase;}

#superStar .arrows .left {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrows.png") no-repeat 0 0px; width:125px; height:161px; display:block; float:left}
#superStar .arrows .right {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrows.png") no-repeat -132px 0; display:block; width:125px; height:161px; float:right}
#superStar.ginger .left:hover,#superStar.ginger .right:hover {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrows-ginger.png");}
#superStar.tom .left:hover strong,#superStar.ginger .right:hover strong  {color:#7f0334;}
#superStar.ginger .left:hover strong {color:#4c5c06;}
#superStar.angela .left:hover strong,#superStar.tom .right:hover strong{color:#885205;}
#superStar.angela .right:hover strong {color:#394600;}
#superStar.tom .left:hover,#superStar.tom .right:hover {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrows-tom.png");}
#superStar.angela .left:hover,#superStar.angela .right:hover {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/arrows-angela.png");}
#superStar .arrows .right strong {left:-5px;}
#superStar .anim {width:942px; margin:28px auto 28px;}
#superStar .info {width:942px; margin:0 auto; margin-top:30px; margin-bottom:28px;}
#superStar .info ul li {float:left; width:28%; margin-right:6%; font-size:18px; color:#00467f; text-transform:uppercase; line-height:21px;}
#superStar .info ul li h2 {
	font-size:18px;
	font-family:"OpenSans-Bold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8); color:#00467f; 
}
#superStar .info ul li h2 span {display:none;}
#superStar .info ul li p {
	font-family:"OpenSans-Regular", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.9); 
	text-transform:none; margin-top:8px;
	font-size:0.9em;
	line-height:1.3em;
}
#superStar .info .first, #superStar .info .last {margin-bottom:25px; float:left}
#superStar .info .first { padding-bottom:20px; background:url(images/line.png) repeat-x bottom left;}
#superStar  .info ul .nm {margin-right:0;}


/* SUPERSTARS */


/* 404 */
#corpo.p404 {background:#fff;}
#corpo.p404 header h1 {margin-bottom:10px;}
.bg_404 {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/bg_404.jpg") no-repeat top left; width:900px; margin:0 auto; height:430px;}
.bg_404 .bbl {margin: 10px 0 0 48%; width: 50%;padding:30px 0 0 0;}
.bg_404 .bbl header {margin-top:20px;}
.bg_404 .bbl p {font-size:18px; margin:10px 0 10px 0; padding:0 0 0 0 !important;}
.bg_404 .mpl {
    margin: 115px 0 0 58%;
    width: 42%;
}
.bg_404 .mpl-links a {
    background: none repeat scroll 0 0 #E7EBEE;
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    padding: 7px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
/* /404 */

/* FlexSlider */
/*.slider li {width:220px !important; height:214px !important;}*/
#size-checker {display:block;}
/* FlexSlider*/


/* Contact form */
.contact-form-tf {width:450px; margin:0 auto;}
.contact-form-tf .intro {top:-15px; position:relative;}
.contact-form-tf input,.contact-form-tf textarea {max-width:98%; width:100%; 
background-color:#17293d; 
background-image:-moz-linear-gradient(top, #17293d 0%, #0b1622 100%);
 	background-image:-webkit-linear-gradient(top, #17293d 0%, #0b1622 100%);
 	background-image:-ms-linear-gradient(top, #17293d 0%, #0b1622 100%);
 	background-image:linear-gradient(top, #17293d 50%, #0b1622 100%);
 	background-image:-o-linear-gradient(top, #17293d 0%, #0b1622 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#17293d), color-stop(100%,#0b1622));
box-shadow:inset 1px 2px 3px rgba(0,0,0,0.6); border:1px solid #466486; border-radius:3px; padding:0.3em 0.3em; font-size:1.4em; line-height:1.1em; color:#d3e9f2; text-shadow:0 1px 0px rgba(0,0,0,0.2);
font-family:Arial, Helvetica, sans-serif; font-weight:normal}
.contact-form-tf input:focus,.contact-form-tf textarea:focus{
	color:#d3c7ad;
background-color:#442f00; 
background-image:-moz-linear-gradient(top, #634700 0%, #271b00 100%);
 	background-image:-webkit-linear-gradient(top, #634700 0%, #271b00 100%);
 	background-image:-ms-linear-gradient(top, #634700 0%, #271b00 100%);
 	background-image:linear-gradient(top, #634700 50%, #271b00 100%);
 	background-image:-o-linear-gradient(top, #634700 0%, #271b00 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#634700), color-stop(100%,#271b00));	
	}
.contact-form-tf textarea {}
.contact-form-tf label {  font-family: 'OpenSans-Bold'; color:#96D8DB; font-size:1.1em; font-weight:normal;  text-shadow:0 1px 1px rgba(0,0,0,0.8);}
.contact-form-tf li {margin-bottom:1.5em;}
#corpo .contact-form-tf .captcha {width:330px; margin:0 auto;text-align:center;}
.contact-form-tf .captcha label {}
#corpo .contact-form-tf .captcha p {margin:3px 0 0; padding:0;}
.contact-form-tf .captcha-img {border-radius:3px; overflow:hidden; float:left; font-size:1.4em; line-height:1.1em; background-color:#fff; padding:4px 4px 3px; position:relative}
.contact-form-tf .captcha-img img {display:block;}
.contact-form-tf .captcha-field {float:left;  width:auto; margin-left:5px;}
.contact-form-tf .captcha-field input {width:auto; width:210px;}
.contact-form-tf .submit-field {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/line3.png") top center no-repeat; background-size:100% auto; margin-top:2em; padding-top:2.5em;}
.contact-form-tf .wpcf7-submit,.contact-form-tf .wpcf7-submit:focus { 
	margin:0 auto 0;
	border-radius:9px; 
	width:80%;
	display:block;
 	background-image:-moz-linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:-webkit-linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:-ms-linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:linear-gradient(top, #fee834 50%, #fdc007 50%);
 	background-image:-o-linear-gradient(top, #fee834 50%, #fdc007 50%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(50%,#fee834), color-stop(50%,#fdc007));

	-webkit-box-shadow:0px 1px 1px  rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 1px 1px  rgba(0, 0, 0, 0.4);
	box-shadow:0px 2px 2px  rgba(0, 0, 0, 0.4);

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 #554904;
	border:none;
	color:#01467e;
	text-transform:uppercase;
	font-size:1.8em;
	padding:0.4em 0;
	font-family:"OpenSans-ExtraBold", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.contact-form-tf .wpcf7-not-valid-tip {border:none; color:#fff; background:#f13f48;-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; width:auto; float:right; left:auto; top:-3px; right:6px; border-radius:2px; padding-left:0.5em;padding-right:0.5em; z-index:1;}
div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors,div.wpcf7-response-output{background:#f13f48; border:none; color:#fff; border-radius:6px; }
div.wpcf7-mail-sent-ok {background:#3ab967; border:none; color:#fff;}


/* Contact form */
/* footer */

/*----------------------------------------------------
RESPONSIVE CSS
----------------------------------------------------*/
/* iPad */
/*
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)  {
	body {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/main_bg_ipad.jpg") no-repeat top center #25d5ed; }
	.site-navigation {margin-right:8px;}
	.main_wrapper {width:960px; min-height:100%; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/bg_pattern.png") repeat-x top center transparent; margin:0 auto; }

	#page {min-height:1140px; width:960px; margin:0 auto;}
	.site-content {width:100%; margin:0 auto; }
	.video .container {width:auto;}
	.video video {width:100%;}
	.video { width:100%; margin:0 auto; }
	.stars_selection {width:100%;}
	.stars_selection aside {width:488px;}
	#corpo {padding: 40px 20px 20px 20px; position: relative; top:-25px; width: 900px; float:none; margin:0 auto; }
	.site-footer {margin:0 auto; }
	.site-footer p {padding-left:10px; padding-right:5px; height:30px;}
	.menu-footer {width:36%; padding-right:1%;}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	body {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/main_bg_ipad.jpg") no-repeat top center #25d5ed; }
	.site-navigation {margin-right:8px;}
	
	.main_wrapper {width:960px; min-height:100%; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/bg_pattern.png") repeat-x top center transparent; margin:0 auto; }
	#page {min-height:1140px; width:960px; margin:0 auto;}
	.site-content {width:100%; margin:0 auto; }	
	.video .container {width:auto;}
	.video video {width:100%;}
	.video { width:100%; margin:0 auto; }
	.stars_selection {width:100%;}
	.stars_selection aside {width:492px;}
	#corpo {padding: 40px 20px 20px 20px; position: relative; top:-25px; width: 900px; float:none; margin:0 auto; }
	.site-footer {margin:0 auto; width:936px; height:30px; }
	.site-footer p {padding-left:5px; padding-right:5px;}
	.menu-footer {width:37%;}
}*/
/* /iPad */

/* /iphone 4 */

/* RETINA */
/*@media screen and (-webkit-min-device-pixel-ratio: 2) {}*/


/* Landscape phone to portrait tablet */
@media  (max-width: 959px) { 
	body {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/main_bg_ipad.jpg?v=2") no-repeat top center #26d4ed; }
	.site-navigation {margin-right:2.5%}
	.site-header {width:auto;}
	.site-header .logo {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/tfs_logo.png") no-repeat top center; -webkit-background-size:contain; -moz-background-size:contain; background-size:contain;  margin-left:10px; width:340px; height:110px; display:block;  text-align:left; }
	#page {width:100%; margin:0 auto; overflow:hidden;   }
	.site-content {width:100%; margin:0 auto; margin-top:-13px;  }
	.main-navigation {margin-top:-68px;}
	.main-navigation li {width:96px;}
	.main-navigation a { font-size:13px; padding:9px 0; background: url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/nav_radial.png") no-repeat scroll center bottom transparent;}
	#corpo { padding: 30px 2% 20px 2%; width: 94%; margin-top:-12px; }
	#corpo header h1 {font-size:32px;}
	
	
	.video {width:95%;}
	.shadow {width:95%; background-size:100% auto;}
	.video .container {width:100%; height:auto;}
	.video video {}
	.video .container iframe {width:100% !important;  height:100% !important; display:block; text-align:center; position:absolute; left:0; top:0; width:100%; height:100%;}
	.video video {width:100% !important;  height:100% !important;  }
	.video_size {display:block;}
	.video .divider {height:23px;}
	
	
	.stars_dscp {width:95%;}
	.stars_dscp .first, .stars_dscp .second, .stars_dscp .third {width:31%; margin-left:0; margin-right:3.2%; height:250px; overflow:hidden;  border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px;}
	 .stars_dscp .inner-text { background-position:bottom center; background-size:100% auto; -webkit-background-size:100% auto; -moz-background-size:100% auto; background-color:none;  overflow:hidden;}
	 .stars_dscp .arrow-down {width:25px; height:25px; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain;}
	.stars_dscp .third {margin-right:0;}
	.stars_dscp p {font-size:18px;}
	/*.stars_dscp #my_div, .stars_dscp #my_div2, .stars_dscp #my_div3 {}*/
	.stars_selection {width:100%;}
	.stars_selection h1 {line-height:46px;}
	.stars_selection aside {width:492px; }
	.stars_selection ul li {margin:0 10px 0 6px;}

	.apps_wrap {padding-bottom:60px;}
	.apps_wrap .tom_icon, .apps_wrap .angela_icon, .apps_wrap .ginger_icon, .apps_wrap .big_icon, .apps_wrap .stars_icon, .apps_wrap .santa_icon {float:left;
 background:url(images/mobile/apps_icon_sprite2.png?v=1) no-repeat 0 0; position:relative; top:-10px;}

	.apps_wrap .tom_icon {width:100px; height:105px;}
	.apps_wrap .angela_icon { background-position:0 -652px; width:100px; height:105px;}
	.apps_wrap .ginger_icon {background-position:0 -216px; width:100px; height:105px;}
	.apps_wrap .stars_icon {background-position:0 -326px; width:100px; height:105px;}
	.apps_wrap .big_icon {background-position:0 -436px; width:100px; height:105px;}
	.apps_wrap .santa_icon {background-position:0 -546px; width:100px; height:105px;}
	.apps_wrap .apps_info {margin-left:120px;}
	.apps_wrap .apps_info p {width: 99.9%;}
	.apps_wrap .stores {margin-left:0%; width:auto;}
	#superStar .arrows {width:100%; height: 162px; left: 0px; position: absolute;top:50%; margin-top:-81px;}
	#superStar .arrows .left, #superStar .arrows .left:hover {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/arrows.png") no-repeat left top; width:120px; height:120px; display:block; float:left; background-size:200% auto; }
	#superStar .arrows .right,#superStar .arrows .right:hover  {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/arrows.png") no-repeat right top; display:block; width:120px; height:120px; float:right; background-size:200% auto;}
	#superStar .arrows .right strong,#superStar .arrows .left strong {display:none;}
	#superStar .anim {width:95%;}
	#superStar .tt {height:430px;width:90%; margin-top:60px; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain;}
	#superStar .g {height:430px;width:90%; margin-top:60px; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain;}
	#superStar .an { height:430px;width:90%; margin-top:60px; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain;}
	#superStar .info {width:100%;}
	#superStar  .info ul {margin-left:2%;}
	#superStar  .info ul .nm {margin-right:0;}
	#superStar h1 {font-size:40px; text-indent:0; top:-70px;}
	#superStar .info ul li h2 span {display:inline;}
	#size-checker {display:inline-block;}
 }
/* Landscape phone to portrait tablet */



/* smartphones */
@media only screen 
and (max-width : 767px) {

body {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/main_bg_480.jpg?v=1") no-repeat top center #25d5ed;}
#page {width:100%; padding-top:25px;}
.site-header {width:90%; margin:0 auto; margin-top:0px; position:relative; height:230px;}
.site-header .logo {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/tfs_logo.png") no-repeat bottom left; 
  -webkit-background-size:contain; -moz-background-size:contain; background-size:contain; width:320px; height:126px; display:block; text-align:center; 
  float:left; position:relative; top:140px; z-index:0; left:-12px;
  margin-left:25%;}
.main-navigation {text-align:center; width:100%; margin:0; position:absolute; top:20; }
.main-navigation ul {float:none; width:100%; text-align:center; margin:0 auto;}
.main-navigation li {margin:0 auto; margin-top:0px; margin-bottom:10px; margin-left:0; width:100%;}
/*.main-navigation li a {background:none; }*/
.main-navigation a { font-size:16px;  background: url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/nav_radial_m.png") no-repeat scroll center bottom transparent; padding:16 0;}
.site-content {width:100%;}
.video {z-index:1; position:relative; top:50px; height:auto;  }
.video, .video .divider {width:100%; border-radius:0; }
.video .container {width:auto; height:auto}
.video .container iframe {width:100% !important;  height:100% !important; display:block; text-align:center; position:absolute; left:0; top:0; width:100%; height:100%;}
.video video {width:100% !important;  height:100% !important;  }
.video_size {display:block;}
.shadow  {position:relative; width:100%; top:-10px; }


 /* hack za predlog text pri angeli */
 .txt-angela, .price-angela {
   display: block !important;
   width: 100% !important;
   text-align: center !important;
   margin: 0 0.1em 0.1em 0.2em !important;
   padding:0 !important;
  font-size: 1em !important;
 }

.price-angela {
  font-size: 2em !important;
  margin-bottom:0.1em !important;
}

#superStar .anim {position:relative; height:auto;}
.stars_dscp { width:100%; margin:0 auto; margin-top:20px; }
.stars_dscp .first, .stars_dscp .second, .stars_dscp .third {
	float: none;
	height:102px;
	margin:0 auto;
	background:none;
	margin-bottom:20px;
	position: relative;
	width: 94%;
	border:none;
	box-shadow:0 4px 3px rgba(0, 0, 0, 0.75),inset 0 -1px 0px rgba(255,255,255,0.15);
	background: #cafdff; /* Old browsers */
	background: -moz-linear-gradient(top, #cafdff 0%, #c7fafd 47%, #558daf 94%, #558daf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cafdff), color-stop(47%,#c7fafd), color-stop(94%,#558daf), color-stop(100%,#558daf)); /* 	Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%); /* W3C */
	overflow:visible;
}
.stars_dscp .first, .stars_dscp .second, .stars_dscp .third { z-index:1;}
.stars_dscp .first, .stars_dscp .third, .stars_dscp .first p, .stars_dscp .third p {text-align:left;}
.stars_dscp .inner-text {background:none !important; display:none !important;}
.stars_dscp .first_m { width:100%; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/first_m.png") no-repeat bottom right;}
.stars_dscp .second_m { width:100%; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/second_m.png") no-repeat bottom left;}
.stars_dscp .third_m { width:100%; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/third_m.png") no-repeat bottom right;}
.stars_dscp .slideimg {background-size:contain; -webkit-background-size:contain; -moz-background-size:contain;	height:112px; position:absolute; top:-10px; border-radius:0 0 14px 14px; -webkit-border-radius:0 0  14px 14px; -moz-border-radius:0 0  14px 14px; overflow:hidden;}
.stars_dscp .second, .stars_dscp .second p {text-align:right;}
.stars_dscp .slideimg p {position:absolute; padding:1em 0.7em 0.7em; width:8em; left:0; font-size:1.1em; line-height:1.15em; color:#00467f; font-weight:normal; text-shadow: 0 1px 0px rgba(255, 255, 255, 1);}
.stars_dscp .second_m p {left:auto; right:0; text-align:right;}
.stars_dscp .arrow-down {position:absolute; left:0.5em; bottom:0.35em; width:20px; height:20px; background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/arrow-down.png") no-repeat center center; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain; z-index:10;}
.stars_dscp .open .arrow-down {background-image:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/arrow-up.png");}
.stars_dscp .second .arrow-down {left:auto; right:0.5em;}
.stars_dscp #my_div, .stars_dscp #my_div2, .stars_dscp #my_div3 {font-size:18px; line-height:1.3em; color:#96ddd9; font-weight:normal; height:auto; font-family:'open_sans-Regular',"Lucida Grande","Lucida Sans Unicode",sans-serif; padding-top:50px; text-shadow:none; 
background-color:#22486c;  
background-image:-moz-linear-gradient(top, #22486c 30%,#0a264a 100%);
background-image:linear-gradient(top, #22486c 30%,#0a264a 100%);
background-image:-webkit-linear-gradient(top, #22486c 30%,#0a264a 100%);
background-image:-o-linear-gradient(top, #22486c 30%,#0a264a 100%);
background-image:-ms-linear-gradient(top, #22486c 30%,#0a264a 100%);
background-image:-webkit-gradient(linear, right top, right bottom, color-stop(30%,#22486c),color-stop(100%,#0a264a));
border-radius:0 0 14px 14px; -webkit-border-radius:0 0 14px 14px; -moz-border-radius:0 0 14px 14px; width:94%; margin:0 auto;  position:relative; top:-38px; z-index:0; font-weight:normal}
.stars_dscp .outer-text {padding:0 0 25px; border-radius:0 0 14px 14px;}
.stars_dscp .outer-text span {width:80%; margin:0 auto; display:block;}
/*.stars_dscp .first #my_div {width:90%;}*/
.stars_selection { width:100%; line-height:48px; text-align:center; }
.stars_selection h1 {font-size:36px;}
.stars_selection .all { background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/dscp_all_1.png") no-repeat top center; width:auto; height:351px; margin:0 auto; margin-top:20px; }
.stars_selection aside {margin: -45px auto 20px;text-align: center;width: 310px;}
.stars_selection ul li {margin: 0 4px;}
.stars_selection ul li span {border-radius: 8px 8px 8px 8px;font-size: 14px; height: 34px;line-height: 37px;margin-bottom: 10px; width: 94px;text-align:center;}
.stars_selection ul li span a {background: none;border-radius: 8px 8px 8px 8px;display: block;height: 34px; width: 94px; text-align:center;}
#superStar .info ul li p {margin-top:3px; line-height:1.2em;}


#main {width:100%;}
#corpo {padding: 16px; position: relative; top:45px; width: 88%; float:none; margin:0 auto; }
#corpo header h1 {font-size:22px;}
#corpo h2 {font-size:20px;}

.apps_wrap {width:98%; padding-bottom:30px;}
.apps_wrap .apps_info { margin-left: 120px;}
.apps_wrap .apps_info p {width: 99.8%; line-height:1.3em; font-size:0.9em;}
.apps_wrap .tom_icon, .apps_wrap .angela_icon, .apps_wrap .ginger_icon, .apps_wrap .big_icon, .apps_wrap .stars_icon {float:left; background:url(images/mobile/apps_icon_sprite2.png) no-repeat 0 0; position:relative; top:-10px;}

.apps_wrap .tom_icon {width:100px; height:105px;}
.apps_wrap .angela_icon { background-position:0 -652px; width:100px; height:105px;}
.apps_wrap .ginger_icon {background-position:0 -216px; width:100px; height:105px;}
.apps_wrap .stars_icon {background-position:0 -326px; width:100px; height:105px;}
.apps_wrap .big_icon {background-position:0 -436px; width:100px; height:105px;}
.apps_wrap header h2 {line-height:24px;}
.apps_wrap .stores {margin-left:0; width:auto;}

#superStar .tt {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/superstars_t.png") no-repeat top center; width:100%; height:287px;  margin:20px auto 0px auto;  position:relative; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain; }
#superStar .g {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/superstars_g.png") no-repeat top center; width:100%; height:287px;  margin:20px auto 0px  auto;  position:relative; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain; }
#superStar .an{background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/superstars_a.png") no-repeat top center; width:100%; height:287px; margin:20px auto 0px auto;  position:relative; background-size:contain; -webkit-background-size:contain; -moz-background-size:contain; }

#superStar h1,#superStar.angela h1,#superStar.tom h1,#superStar.ginger h1 {font-size:40px; line-height:40px; top:100%; width:100%; height:30px; font-size:1.6em; line-height:1.05em; margin-top:-33px; left:0; right:0; padding:0 5px 0 5px; position:absolute; text-indent:0;}
#superStar.tom h1 {
	text-shadow:
	-1px -1px 0 #c7f57f,
	1px -1px 0 #c7f57f,
	-1px 1px 0 #c7f57f,
	1px 1px 0 #c7f57f; 
	z-index:1; 
}

#superStar.ginger h1 {
	text-shadow:
	-1px -1px 0 #ebae38,
	1px -1px 0 #ebae38,
	-1px 1px 0 #ebae38,
	1px 1px 0 #ebae38; 
}
#superStar.angela h1 {
	text-shadow:
	-1px -1px 0 #ec6ca4,
	1px -1px 0 #ec6ca4,
	-1px 1px 0 #ec6ca4,
	1px 1px 0 #ec6ca4; 
}

#superStar .arrows {height: 118px;left: 0; position: absolute; right:0; top:50%; width:100%; margin:0 auto; margin-top:-59px;}
#superStar .arrows .left,#superStar .arrows .left:hover  {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/arrows.png") no-repeat left top; width:100px; height:100px; display:block; float:left; background-size:200% auto; }
#superStar .arrows .right, #superStar .arrows .right:hover {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/arrows.png") no-repeat right top; display:block; width:100px; height:100px; float:right; background-size:200% auto;}
#superStar .arrows a strong {font-size:10px; width:100%; line-height:100px; text-align:center; top:auto; left:auto; display:none;}
#superStar .info {width:100%; margin-top:0px;}
.flexslider {margin-bottom:12px !important;}
#superStar .info ul li {float:none; margin-top:20px; width:90%; margin:0 auto;}
#superStar .info ul .nm {margin-right:6%;}
#superStar .info ul li h2 {margin-top:20px;}
#superStar .info ul li h2 span,#superStar .info ul li h2 em {display:none;}
#superStar .anim {width:97%; margin-left:2.5%}
.flex-direction-nav .flex-next {right:-5px;}
.flex-direction-nav .flex-prev {left:-5px;}

.contact-form-tf {width:97%; padding-right:1%; margin-top:-25px; font-size:0.85em}
.contact-form-tf .intro {line-height:1.3em; top:-10px;}
.contact-form-tf li {margin-bottom:0.75em;}
#corpo .contact-form-tf .captcha {width:100%;}
.contact-form-tf .captcha-field input {width:auto; width:100px;}
.contact-form-tf .captcha-img {padding:2px 2px 1px;}
#corpo .contact-form-tf .captcha-wrap {width:210px; margin:0 auto;}
.contact-form-tf .submit-field { margin-top:1.4em; padding-top:1.6em;}
.contact-form-tf .wpcf7-not-valid-tip {top:-5px;}

#size-checker {display:none;}
}

/* centers logo on mobile in landscape */
@media only screen and (max-width: 768px) and (orientation:landscape) {
  .site-header .logo {margin-left:25%;}
}
/* /smartphones */


/* smartphones */
@media only screen 
and (min-width: 320px) and (max-width : 480px) {

body {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/main_bg_480.jpg?v=1") no-repeat top center #25d5ed;}
#page {width:100%;}
.site-header {width:90%; margin:0 auto; margin-top:0px; position:relative; height:230px;}
.site-header h1 {width:300px; margin:0 auto;}
.site-header .logo {background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/tfs_logo.png") no-repeat bottom left; -webkit-background-size:contain; -moz-background-size:contain; background-size:contain; width:320px; height:126px; display:block; text-align:center; float:left; position:relative; top:140px; z-index:0; margin:0 auto; left:-12px}
.main-navigation {text-align:center; width:100%; margin:0; position:absolute; top:20; }
.main-navigation ul {float:none; width:100%; text-align:center; margin:0 auto;}
.main-navigation li {margin:0 auto; margin-top:0px; margin-bottom:10px; margin-left:0; width:100%;}
/*.main-navigation li a {background:none; }*/
.main-navigation a { font-size:16px;  background: url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/nav_radial_m.png") no-repeat scroll center bottom transparent; padding:16 0;}
.site-content {width:100%;}
.video {z-index:1; position:relative; top:60px; height:auto;}
.video, .video .divider {width:100%;  border-radius:0;}
.video .container {width:auto; height:auto;  text-align:center;}
.video .container iframe {width:100% !important;  height:100% !important; display:block; text-align:center; position:absolute; left:0; top:0; width:100%; height:100%;}
.video video {width:100% !important;  height:100% !important;  }
.video_size {display:block;}
.shadow  {position:relative; width:100%; top:-10px; }

.stars_dscp { width:100%; margin:0 auto; margin-top:20px; }
.stars_dscp .first, .stars_dscp .second, .stars_dscp .third {
	height:82px;
	/*float: none;
	height: auto;
	margin:0 auto;
	background:none;
	margin-bottom:20px;
	position: relative;
	width: 94%;
	border:1px solid #80afb4;
	background: #cafdff;
	background: -moz-linear-gradient(top, #cafdff 0%, #c7fafd 47%, #558daf 94%, #558daf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cafdff), color-stop(47%,#c7fafd), color-stop(94%,#558daf), color-stop(100%,#558daf)); 
	background: -webkit-linear-gradient(top, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%); 
	background: -o-linear-gradient(top, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%);
	background: -ms-linear-gradient(top, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%); 
	background: linear-gradient(to bottom, #cafdff 0%,#c7fafd 47%,#558daf 94%,#558daf 100%);*/
}
.stars_dscp .first, .stars_dscp .second, .stars_dscp .third {border-radius:14px; -webkit-border-radius:14px; -moz-border-radius:14px;}
.stars_dscp p {padding:20px 20px 20px 20px; text-shadow: 0 1px 1px rgba(255, 255, 255, 255);}
.stars_dscp .first, .stars_dscp .third, .stars_dscp .first p, .stars_dscp .third p {text-align:left;}
.stars_dscp .second, .stars_dscp .second p {text-align:right;}
.stars_dscp .slideimg {height:92px;}
.stars_dscp .slideimg p {padding:1.3em 0.9em 0.9em; font-size:0.85em;}
.stars_dscp #my_div, .stars_dscp #my_div2, .stars_dscp #my_div3 {font-size:15px;  padding-top:33px; }
.stars_dscp .outer-text {padding:0 0 15px;}
.stars_selection { width:100%; line-height:48px; text-align:center; }
.stars_selection h1 {font-size:36px;}
.stars_selection .all { background:url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/dscp_all_1.png") no-repeat top center; width:auto; height:351px; margin:0 auto; margin-top:20px; }
.stars_selection aside {margin: -45px auto 20px;text-align: center;width: 310px;}
.stars_selection ul li {margin: 0 4px;}
.stars_selection ul li span {border-radius: 8px 8px 8px 8px;font-size: 14px; height: 34px;line-height: 37px;margin-bottom: 10px; width: 94px;text-align:center;}
.stars_selection ul li span a {background: none;border-radius: 8px 8px 8px 8px;display: block;height: 34px; width: 94px; text-align:center;}


#main {width:100%;}
#corpo {padding: 16px; position: relative; top:45px; width: 88%; float:none; margin:0 auto; }
#corpo header h1 {font-size:22px;}
#corpo h2 {font-size:18px;}
.apps_wrap {width:98%;}
.apps_wrap .apps_info { margin-left: 120px;}
.apps_wrap .apps_info p {width: 99.8%;}
.apps_wrap .tom_icon, .apps_wrap .angela_icon, .apps_wrap .ginger_icon, .apps_wrap .big_icon, .apps_wrap .stars_icon {float:left; background:url(images/mobile/apps_icon_sprite2.png) no-repeat 0 0; position:relative; top:-10px;}

.apps_wrap .tom_icon {width:100px; height:105px;}
.apps_wrap .angela_icon { background-position:0 -652px; width:100px; height:105px;}
.apps_wrap .ginger_icon {background-position:0 -216px; width:100px; height:105px;}
.apps_wrap .stars_icon {background-position:0 -326px; width:100px; height:105px;}
.apps_wrap .big_icon {background-position:0 -436px; width:100px; height:105px;}
.apps_wrap header h2 {line-height:24px;}
.apps_wrap .stores {margin-left:0; width:auto;}

}
/* /smartphones */



.shipping-table {color: #96d8db;}
.shipping-table em {font-weight:bold}

.user-currency {
  position:absolute;
  background: url(http://cdn.shopify.com/s/files/1/0177/7334/t/3/assets/globe.png?1176) no-repeat 0 0;
  text-indent:26px;
  top: 0px;
  right:7px;
  color: #9cb4c5;
  font-size:90%;
  cursor: pointer;
  display:none !important;
}

.user-currency:hover { color:white}

/* currency change styles */
.currencyChange {
	display:none;}
	

.currency-change-menu {
  margin: 20px 0 20px 0;
}

.currency-change {
 background: url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/mobile/nav_radial_m.png") no-repeat scroll center bottom transparent;
 display:none;
 float: left;
 font-size:16px;
 margin:15px 15px 15px 0;
 border-radius: 10px;
 box-shadow: 0 1px 1px rgba(0,0,0,0.75);
 padding:10px 5px 10px 5px;
 position: realtive;
 text-decoration: none;
 text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
 text-align:center;
 width: 200px;
}

.currency-change:hover {
 box-shadow: 0 3px 3px rgba(0,0,0,0.75);
 color:black;
 cursor: pointer;
}

/* end of currency change styles */

.carousel img:hover {
  border:2px solid red;
}

.small-print {
  margin:20px auto;
  padding-left:40px;
  width:100%;
  text-align:left;
  font-size:138%;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
  color: #00467f;
}

.ios_comming_soon {
	background:url("/wp-content/themes/o7-custom/images/Other_Platforms.png") no-repeat top center; 
  display:block; margin-right:5px;
  background-position:0px -3px; 
  width:170px; 
  height:60px;
}

.android_comming_soon {
  display:block; margin-right:5px;
	background:url("/wp-content/themes/o7-custom/images/android_comming_soon.png") no-repeat top center;
  background-position:0px -3px; 
  width:170px; 
  height:60px;
}

.stars_selection img {
  cursor: pointer;
}

/**
 * footer 
 **/
.site-footer {
  display: block;
  width:960px;
  margin: 20px auto;
  font-size:14px;
  font-weight: bold;
  color: white;
}


.site-footer nav {
  display:block;
  margin-top:30px;
}

.site-footer a { text-decoration: none; }

.site-footer .fb, .site-footer .tw, .site-footer .yt {
    background: url("http://cdn.outfit7.com/tfsuperstar.com/wp-content/themes/o7-custom/images/social_icons.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 41px;
    width: 41px;
}

.site-footer .tw { background-position: 0 -41px; }
.site-footer .tw:hover { background-position: 0 -164px; }
.site-footer .fb { background-position: 0 0px; }
.site-footer .fb:hover { background-position: 0 -123px; }
.site-footer .yt { background-position: 0 -82px; }
.site-footer .yt:hover { background-position: 0 -205px; }

.site-footer-copy { width:350px; }
.site-footer-social { width:250px; text-align: center;}
.site-footer-menu { width:350px; text-align:right}



.site-footer-copy a { color: #255e86; margin:0;}
.site-footer-social {
  poisition: relative;
  margin: 0;
  text-align: center;
  top: 13px;
}

.site-footer-menu a { color: white; margin: 10px 0 10px 0}
.site-footer-menu a:hover { color: #255e86;}

.all_stars {min-width:456px}

@media  (max-width: 959px) {
  .site-footer {
    width:100%;
  }
  .site-footer-block {
    width:100% !important;
    text-align:center !important;
  }
  .site-footer-copy { 
    position:relative;
    top:72px;
  }

  .site-footer-social {
    top:0;
  }

  .site-footer-menu { 
    position:relative;
    top:-94px;
  }

}

@media  (max-width: 500px) {
  .all_stars {width:300px; min-width:300px}
}

.ios_icon {background:url(images/app_stores.png) no-repeat -132px 0; display:block; margin-right:2px; width:141px; height:50px;}
.android_icon {background:url(images/app_stores.png) no-repeat 0 0; display:block; margin-right:2px; width:133px; height:50px;}
.soon_icon {background:url(images/app_stores.png) no-repeat -272px 0; display:block; margin-right:2px; width:120px; height:50px;}

.sold_out {
  padding-top:15px;
  font-size:17px !important;
  text-align:center !important;
  line-height:26px !important;
}

@media  (max-width: 959px) {
  .sold_out {
    margin-top:10px !important;
    font-size:16px !important;
    line-height:20px !important;
    padding-top:0px !important;
  }
}

@media  (max-width: 767px) {
  .sold_out {
    margin-top:10px !important;
    padding-top:0px !important;
    font-size:14px !important;
  }
}


.responsive-image {
  display:block;
  margin:20px auto;
  width:90%;
  max-width:920px;
}



.landing-hollywood { margin-top: 380px; }
@media (max-width:767px) {
  .landing-hollywood { margin-top: 30px; }
}

