
.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}

@text_color: #404040;

@base_color: #FFE500;
@base_grad_1: #FEE834;
@base_grad_2: #FECC33;
@button_color: #01467E;

@back: #11345A;
@back_grad_1: #32709e;
@back_grad_2: #2c567a;
@back_grad_3: #081b32;


@tom_grad_1: #E9FF34;
@tom_grad_2: #B6EC0C;

@ginger_grad_1: #FBBB69;
@ginger_grad_2: #FF8C05;

@angela_grad_1: #F17EAB; 
@angela_grad_2: #EB2774;

