<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--<meta id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Superstars Hit Hollywood</title>
<script>{% include ga.js %}</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<!--[if gt IE 7]><!-->
{% css_asset_tag global %}
- /_assets/css/styles.less
{% endcss_asset_tag %}
<!--<![endif]--><!--[if lt IE 8]>
{% css_asset_tag global %}
- /_assets/css/styles_ie.less
{% endcss_asset_tag %}
<![endif]-->

{% javascript_asset_tag global %}
- /_assets/js/jquery.cookie.js
- /_assets/js/slider.js
- /_assets/js/jquery.mousewheel-3.0.6.pack.js
- /_assets/js/bigbuy.js
- /_assets/js/bigbuy2.coffee
- /_assets/js/superstar.js
{% endjavascript_asset_tag %}

<script src="../assets/swipescript.js" type="text/javascript"></script>
<script src="../assets/main.js?ver=3.4.2h" type="text/javascript"></script>
<link href="../assets/styles.css?ver=3.4.2h" type="text/css" rel="stylesheet" />
-->
<!-- social -->
<!--<script src="http://platform.tumblr.com/v1/share.js"></script>-->
</head>
<body>
{{content}}
</body>
</html>
